# Obsidian - Ignora todas as configuracoes locais e cache
.obsidian/

# Windows System Files - Caso eles aparecam dentro da knowledge_tree
$RECYCLE.BIN/
System\ Volume\ Information/

# Arquivos temporarios e de sistema
.DS_Store
Thumbs.db